*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(23, 23, 23);
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.container{
    height: 35rem;
    width: 28rem;
    position: relative;
    overflow: hidden;
    box-shadow: 8px 23px 18px rgba(34, 33, 33, 0.346);
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:1s;
}
.container .writtings{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width:80%;
    bottom:0;
    left: 10%;
    height:10px;
    background-color: crimson;
    color: #fff;
    transition: 0.6s;
}
h1{
    font-size: 30px;
    background-color: crimson;
    text-align: center;
    margin: 10px 0;
    opacity: 0;
    transition: .5s;
}
h4{
    text-align: center;
    padding: 10px;
    background-color: crimson;
    opacity: 0;
    transition: .5s;
}
button{
    height:40px;
    width:85px;
    background-color: rgb(23, 23, 23);
    color: #fff;
    text-align: center;
    margin:10px 0;
    opacity: 0;
    transform: 0.5s;
}
.container:hover img{
    opacity: 0;
}
.container:hover .writtings{
    left:0;
    height:100%;
    width: 100%;
}

.container:hover h1{
    opacity: 100%;
}
.container:hover h4{
    opacity: 100%;
}
.container:hover button{
    opacity: 100%;
}
